body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}


/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
}

/* Circular image container */
.circle-container {
  width: 200px; /* Adjust size as needed */
  height: 200px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the container circular */
  overflow: hidden; /* Ensures the image stays within the circle */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow */
  position: absolute;
  top: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  margin-top: 20px; 
}

/* Style the image to fit inside the circle */
.circle-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* Content below the image */
.content {
  padding-top: 240px; 
  text-align: center; 
  padding-left: 20px; 
  padding-right: 20px; 
}

.lang-box{
  background-color: black;
  box-shadow: 5px blue;
}

.input-column{
  width: 60%;
}
.message_button{
  background-color: blue;
  color: white;
  width: 60%;
}


.social_links{
  color: white;
}